/*Created 2015-07-13 by jamie*/


#footer {
    margin-top: 0px;
    
}

#home #hero .img {
    background-image: url("http://assets.kodekloud.io/sites/55a423256e6f644941000000/85e9fdc6621659784230ba5351b95a66/static-hero-2.png");
}


.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    margin: 70px 0 60px;
}


#home #hero {
 top:0px;   
    
}


#home #hero .cta a:hover {
     background-color: #3b88b6;
     color:#FFF;
}

.button-outline:hover{
    background-color: #4682B4;
     color:#FFF;
}

h4{
    font-size:26px !important;
    font-family: "Lato", "Helvetica Neue", Arial !important;
}

h1{
    text-transform: none !important;
    font-size: 40px !important;
}