/*Created 2015-07-13 by jamie*/


#footer {
    margin-top: 0px;
    
}

#home #hero .img {
    background-image: url("http://assets.kodekloud.io/sites/55a423256e6f644941000000/f43f7ec82793a61cdf90f51638ae8d1d/static-hero-2.png");
}


.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    margin: 70px 0 60px;
}


#home #hero {
 top:0px;   
    
}

#home2 #hero {
background-image: url("http://assets.kodekloud.io/sites/55a423256e6f644941000000/d4b9853de5303a7ba84d55ee9d8b14a0/header2.jpg") !important;
}

#home #hero .cta a:hover {
     background-color: #3b88b6;
     color:#FFF;
}

#footer {
    background: #1b1b1b; !important;
"
}

#home2 #clients {
    background: #262626; !important;
}

.button-outline:hover {
    background-color: #4682B4;
     color:#FFF;
}

#home #hero .cta {
    margin-top:30px;
}

h4 {
    font-size:28px !important;
    font-family: "Lato", "Helvetica Neue", Arial !important;
}

h1 {
    text-transform: none !important;
    font-size: 40px !important;
}